@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.footer {
    padding: 100px 200px;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
}

.footer-text h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
}

.footer-text p {
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
}

.footer-text p i {
    font-size: 20px;
}

.footer-links {
    text-align: center;
    margin-left: 20%;
}

.footer-links li {
    list-style: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px 111px;
}

.footer-links li a {
    text-decoration: none;
    /* padding: 0px 0px; */
    transition: 0.5s;
    color: white;
}

.footer-links li a:hover {
    color: yellow;
}