@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.main-box {
    background-image: url("assets/img/3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    height: 100vh;
    display: flex;
    width: 100%;
}

.main-box-heading {
    font-family: 'Kanit', sans-serif;
    color: white;
    padding: 0px 10%;
}

.main-box-heading h1 {
    font-size: 100px;
}

.main-intro-box {
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    flex-direction: column;
    margin: 0px 10px;
    align-items: center;
    text-align: center;
    color: white;
    height: 300px;
    display: flex;
}

.main-intro-box h2 {
    color: rgb(96, 96, 96);
}

.main-heading-box {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}

.main-heading-box h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: yellow;
}

.main-webdesigns-box {
    padding: 100px 185px;
}

.main-webdesigns-box-img {
    background-color: rgb(117, 117, 117);
    display: inline-block;
    margin: 10px 10px;
    height: 300px;
    width: 400px;
}

.main-webdesignsbutton-box {
    justify-content: center;
    margin-top: 18px;
    display: flex;
}

.main-webdesignsbutton-box a {
    font-family: 'Josefin Sans', sans-serif;
    background-color: yellow;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    transition: 0.5s;
}

.main-webdesignsbutton-box a:hover {
    background-color: rgb(167, 167, 2);
}

.main-webdesigns-box-img img  {
    width: 100%;
    height: 100%;
}

.main-webdesigns-box-img p {
    color: white; 
}
